header {
    height: 100vh;
    padding-top: 2rem;
}

.header__container {
    text-align: center;
    height: 100%;
    position: relative;
}

.cta {
    margin-top: 2.5rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.header__socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    position: absolute;
    left: 0;
    bottom: 9rem;
    transform: scale(1.5);
}

.header__socials::after {
    content: "";
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
}
.header__socials::before {
    content: "";
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
}

.headerPhoto {
    background: linear-gradient(var(--color-primary), transparent);
    width: 24rem;
    height: 24rem;
    position: absolute;
    left: calc(50% - 12rem);
    margin-top: 4rem;
    border-radius: 15rem 15rem 15rem 15rem;
    overflow: hidden;
    padding: 0.8rem 3rem 1.5rem;

}

/* \/ MEDUM DEVICES \/ */
@media screen and (max-width: 1024px){
    header {
        height: 68vh;
    }
}

/* \/ SMALL DEVICES \/ */
@media screen and (max-width: 600px){
    header {
        height: 100vh;
    }

    .header__socials {
        display: none;
    }
}